{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Noticias</h1>

    
    
           {{ entity.tituloNoticias }}<br><br>
            <img src="{{ asset('bundles/uniseries/imagenes/'~ entity.fotoNoticias  ~ '') }}" width=20% height=20%/><br>
            <p> {{ entity.descNoticias }}</p><br>
           <br>
           
           
           
           {{ entity.fechaNoticias|date('Y-m-d ') }}<br>
           <br>
           {{ entity.autorNoticias }}<br>
            
        
    

       
   
      
    
        <a href="{{ path('noticias_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
