{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Series</h1>

   
       
              
         <tbody>
        {% for entity in entities %}
            
                <a href="{{ path('series_show', { 'id': entity.id }) }}">{{ entity.nombreSerie }}</a>
                <br>
                <img src="{{ asset('bundles/uniseries/imagenes/'~ entity.foto  ~ '') }}" width=40% height=40%/>
                <br>
                {{ entity.categoria.nombreCategorias }}<br>
                
                {% if entity.fechaComienzo %}{{ entity.fechaComienzo|date('Y-m-d') }}{% endif %}<br>
                
                
                    
                 
                
                
            
        {% endfor %}
        </tbody>
    

        <ul>
        <li>
            <a href="{{ path('series_new') }}">
                Crear una nueva Serie
            </a>
        </li>
    </ul>
    {% endblock %}
