{% extends '::base.html.twig' %}

{% block body -%}
    <h1>series</h1>

    
        <tbody>
          
                
        {{ entity.nombreSerie }}<br><br><br>
         <img src="{{ asset('bundles/uniseries/imagenes/'~ entity.foto  ~ '') }}" width=40% height=40%/><br><br>
         <p>{{ entity.sipnosis }}</p><br><br><br>
        {{ entity.fechaComienzo|date('Y-m-d ') }}<br><br>
            
</tbody>
    

       
    
        <a href="{{ path('series_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    
    {{ form(delete_form) }}

{% endblock %}
