{% extends '::base.html.twig' %}

{% block body -%}
    <h1>premios</h1>

    
        <tbody>
        {{ entity.nombrePremios }}<br>
        <img src="{{ asset('bundles/uniseries/imagenes/'~ entity.fotoPremios  ~ '') }}" width=40% height=40%/><br><br>
        <p>{{ entity.descPremios }}</p><br>
           
           
        </tbody>
    

       
  
    
    
        <a href="{{ path('premios_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    
    {{ form(delete_form) }}

{% endblock %}
